#contact-section {
  background-color: var(--cloud);
}
.contact-methods {
  padding-left: 30px;
  padding-right: 15px;
}
.contact-methods {
  background-color: var(--dark);
  color: white;
}
.cm-img {
  background-color: white;
  width: 50px;
  height: 55px;
  display: flex;
  align-items: center;
  border-radius: 50px;
}
.cm-img > img {
  width: 30px;
}
.cm-details a {
  color: white;
}

.contact-by-instant-message {
  border: 3px solid var(--dark);
  padding-left: 30px;
  padding-right: 30px;
}

.ci-email,
.ci-message {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  border: 0px solid;
  padding-left: 10px;
  border: 2px solid var(--smoke);
  background-color: white;
}

.ci-message {
  height: 100px;
  padding: 5px;
}

@media (min-width: 768px) {
  .contact-by-instant-message,
  .contact-methods {
    height: 550px;
  }
}

