/* 
Style for homepage CTA top
*/
.cta-img {
  /* About Style */
  max-width: 450px;
}
.cta-top-texts {
  /* About Style */
  position: relative;
}
.cta-top-texts > h3,
.cta-top-texts > p {
  position: relative;
  z-index: 2;
}
.cta-text-bg-1 {
  position: absolute;
  width: 100%;
  height: 70px;
  transform: rotate(-5deg);
  top: -15px;
  border-radius: 10px;
  z-index: 0;
  background-color: var(--papaya-tint-3);
}
.cta-text-bg-2 {
  position: absolute;
  width: 80%;
  height: 70px;
  transform: rotate(-5deg);
  top: 35px;
  border-radius: 10px;
  z-index: 1;
  background-color: var(--coolbubble-tint-3);
}
@media (min-width: 768px) {
  .cta-img {
    padding-top: 0px !important;
  }
}
