.header-wrapper.down {
  border-bottom: 3px solid var(--middling-gray);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px -3px 10px var(--papaya-shade-4);
  height: 60px;
  transition: 1s;
  background-color: white;
  position: fixed;
}

.header-wrapper {
  height: 120px;
  transition: 1s;
  box-shadow: 0px -4px 8px var(--dark);
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 20;
}

header .height-2 {
  height: 120px;
  transition: 1s;
}

.header-wrapper.down .app-header,
.header-wrapper.down .hha {
  transition: 1s;
  height: 60px;
}

.logo {
  width: 110px;
}

.app-header,
.app-header li a {
  color: var(--dark);
}

#nav-desktop li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 10px 0px 10px;
}

.fst-contact-button-header {
  height: 45px;
  padding: 5px 15px;
  border-radius: 36px;
  background: #ffbe5e;
  border: 2px solid var(--papaya-shade-1);
}

.app-header .ham-box,
.justify-content-right {
  display: flex;
  justify-content: end;
}

.mobile-nav {
  position: fixed;
  top: 0px;
  left: 100%;
  width: 70%;
  height: 100vh;
  background-color: var(--papaya-tint-4);
  transition: all 1s;
  padding-top: 140px;
  z-index: 10;
}

.mobile-nav.open {
  left: 30%;
}
.mobile-nav.down {
  padding-top: 80px;
}

.mobile-nav li {
  list-style-type: none;
  border-bottom: 2px solid var(--coolbubble-tint-4);
  margin-bottom: 40px;
}

.mobile-nav,
.mobile-nav li a {
  color: var(--dark);
}

.mobile-nav ul {
  margin-top: 40px;
}

.styleRef {
  /* About Style */
  font-size: 12px;
}
