/* Imported Open Sans Variable Font*/
@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

.text-h1 {
  /* Title - Main Heading */
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 96px */
  letter-spacing: -4.8px;
}
.text-h2 {
  /* Header Level 2 */
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 73.2px */
  letter-spacing: -1.83px;
}
.text-h3 {
  /* Header Level 3 */
  font-size: 47px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 56.4px */
  letter-spacing: -1.41px;
}
.text-subheading-regular {
  /* Subheading/regular */
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 54px */
  letter-spacing: -1.08px;
}
.text-subheading-bold {
  /* Subheading/bold */
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
  letter-spacing: -1.08px;
}
.text-body-regular {
  /* Body/Regular */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; /* 32px */
  letter-spacing: 0.32px;
}
.text-body-bold {
  /* Body/Bold */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 200%; /* 32px */
}
.text-small-regular {
  /* Small/Regular */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 21.6px */
  letter-spacing: 0.48px;
}
.text-small-bold {
  /* Small/Regular */
  font-size: 12px;
  font-style: bold;
  font-weight: 600;
  line-height: 180%; /* 21.6px */
  letter-spacing: 0.48px;
}

.text-no-decoration {
  /* About Style */
  text-decoration: none;
}

.styleRef {
  /* About Style */
  font-size: 12px;
}
